html {
    font-size: 16px;
}

html, body, div, span, p, a, img {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.app {
    height: 100vh;
}

.center {
    height: calc(100vh - 10vh - 5vh);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}